# Dependencies
node_modules/
frontend/node_modules/

# Env files
.env
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
frontend/dist/

# Data (raw files can be large)
data/raw/

# ML models
backend/app/ml/saved_models/

# GEE credentials
gee_service_account.json
backend/gee_service_account.json

# Logs
*.log
claude.md